// _global.scss
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import 'variables';

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  background-color: $background-color;
  color: $text-color;
  scroll-behavior: smooth;
}

a {
  color: $primary-color;
  text-decoration: none;
}
