// src/styles/_navbar.scss
@import 'variables';

.navbar {
  background-color: $primary-color;
  color: white;
  padding: 1rem;
}

.nav-links a {
  color: $secondary-color;
  text-decoration: none;
}
